#wrap {width:100%;height:100%;}
#web_container{width:100%;}
#header {position:relative;height:70px;background:url('/adcaslte/common/bootstrap/img/bg_header.png');}
#header #popup_title {float:left;font-size:20px;font-weight:bold;margin-left:40px;padding-top:20px;}
#header #popup_desc {float:left;padding-top:22px;padding-left:30px;}
#header #quickmenu_trigger {position:absolute;right:0px;top:31px;cursor:pointer;}
#quickmenu_container {position:absolute;top:0px;left:0px;width:100%;height:300px;border:1px solid;display:none;z-index:999;background-color:#4a4543;border-bottom:3px #ff713a solid;}